@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-200;
  }
}

@layer components {
  .btn-primary {
    @apply btn bg-primary-600 hover:bg-primary-700 text-white border-none;
  }
  
  .card-banking {
    @apply card bg-base-100 shadow-xl border-2 border-primary-500;
  }
}

